@{
    ViewData["Title"] = "Create";
}

<div class="text-center">
    <h2 class="display-4">Создать склад</h2>
</div>
<form method="post">
    <div class="row">
        <div class="col-4">Название склада:</div>
        <div class="col-8"><input type="text" name="name" /></div>
    </div>
    <div class="row">
        <div class="col-4">ФИО ответственного:</div>
        <div class="col-8"><input type="text" name="FIO"/></div>
    </div>
    <div class="row">
        <div class="col-8"></div>
        <div class="col-4">
            <input type="submit" value="Создать" class="btn btn-primary" />
        </div>
    </div>
</form>