@{
    ViewData["Title"] = "TopUp";
}

<div class="text-center">
    <h2 class="display-4">Пополнить склад</h2>
</div>
<form method="post">
    <div class="row">
        <div class="col-4">Склад:</div>
        <div class="col-8">
            <select name="wareHouseId" class="form-control" asp-items="@(new SelectList(ViewBag.Warehouses, "Id", "WarehouseName"))"></select>
        </div>
    </div>
    <div class="row">
        <div class="col-4">Компонент:</div>
        <div class="col-8">
            <select name="componentId" class="form-control" asp-items="@(new SelectList(ViewBag.Components, "Id", "ComponentName"))"></select>
        </div>
    </div>
    <div class="row">
        <div class="col-4">Количество:</div>
        <div class="col-8"><input type="text" name="count" /></div>
    </div>
    <div class="row">
        <div class="col-8"></div>
        <div class="col-4">
            <input type="submit" value="Пополнить" class="btn btn-primary" />
        </div>
    </div>
</form>